body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div,dl,dt,dd,input{margin:0;padding:0;}
body{font:12px/21px Tahoma,Helvetica,'Microsoft Yahei',Arial,sans-serif;background:#edf1f2;}
input,select,textarea{outline:none;border:none;background:none;}
iframe{border:none;}
textarea{resize:none;}
a{text-decoration:none;outline:none;}
a:hover,a:active{text-decoration: none;}
img { border: none; }
em{font-style: normal;}
ul{list-style-type: none;}
.clearfix:after { content: "." ; display: block ;height: 0 ;clear: both ;visibility: hidden ;}
.clearfix{ display: inline-block; }
*html .clearfix{ height:1%; }
.clearfix{ display:block;clear: both ; }
* {-webkit-box-sizing:content-box;-moz-box-sizing: content-box;box-sizing:content-box}