<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
    <meta name="keywords" content="" />
    <meta name="Copyright" content="" />
    <meta name="Description" content="" />
	<title>喜太狼-关于我们</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
	<!--顶部-->
    <div class="header">
    	<div class="logo_box">
        	<div class="logo"><img src="../images/logo.png" alt="LOGO"></div>
            <div class="logo_box_jg"><img src="../images/jg.png"></div>
            <div>
            	<p class="logo_box_kf">客服热线：</p>
            	<p class="logo_box_tel">400-78787878</p>
            </div>
        </div>
        <div class="weixin_box">
        	<span><img src="../images/wx.jpg" alt="微信" /></span>
        	<span><img src="../images/wb.jpg" alt="微博" /></span>
        	<span><img src="../images/qq.jpg" alt="QQ" /></span>
        </div>
    </div>
	<!--顶部 /-->
	<!--导航-->
	<div class="nav">
		<div class="main">
			<ul>
				<li><a href="index.html">网站首页</a></li>
				<li><a href="news.html">新闻中心</a></li>
				<li><a href="product.html">产品展示</a></li>
				<li><a href="javascript:;" id="downShow">APP下载</a></li>
				<li><a class="active" href="aboutUs.html">关于我们</a></li>
			</ul>
		</div>
		<!--下载框-->
		<div class="mark"></div>
		<div class="down_box">
			<i class="arrow"></i>
			<div class="logo"><img src="../images/logo2.png"></div>
			<div class="info">
				<h2>喜太狼APP下载</h2>
				<p>版本号：Version1.0</p>
				<p>适配：iPhone/Andriod</p>
				<p>大小：14.1MB</p>
			</div>
			<div class="ewm"><img src="../images/ewm1.jpg"></div>
			<div class="btn">
				<a href="" class="ios" rel="ios下载"></a>
				<a href="" class="andior" rel="andior下载"></a>
			</div>
		</div>
		<!--下载框-->
	</div>
	<!--导航 /-->
	<!--页面标题-->
	<div class="web_title" style="background:url(../images/about.png) no-repeat;background-size:100% 100%; ">
		<div class="main">
			<div class="title"><img src="../images/about_title.png"></div>
		</div>
	</div>
	<!--页面标题 /-->
	<div class="main">
		<!--面包屑-->
		<div class="breadcrumb">
			<a href="index.html">网站首页</a>
			<span>></span>
			<a href="aboutUs.html">关于我们</a>
		</div>
		<!--面包屑 /-->
		<!--
			关于我们
			标题标签 <dd><a href="javascript:;" data-toggle="标题ID">标题名称</a></dd>
			内容 <div class="about_right_box" id="标题对应ID">内容</div>
			默认显示需要在标题和内容上加上样式类名 active
		-->
		<div class="clearfix">
			<div class="about_left">
				<dl>
					<dt>关于我们<i></i></dt>
					<dd><a href="javascript:;" class="active" data-toggle="about">公司简介</a></dd>
					<dd><a href="javascript:;" data-toggle="contactUs">联系我们</a></dd>
				</dl>
			</div>
			<div class="about_right">
				<div class="about_right_box active" id="about">
					<p class="ytitle">&nbsp;&nbsp;浙江喜太狼有限公司是中国（瑞安）胶鞋名城功勋企业，中国橡胶工业协会胶鞋分会副理事长、瑞安市鞋革行业协会副会长及国家胶鞋标准起草单位之一。公司位列瑞安市工业五十强，属民营股份制企业，创建于1985年，现有厂区占地面积3.5万平方米，建筑面积6万多平方米，胶鞋生产线8条，主要技术经济指标居国内胶鞋行业前列。"人本"商标已被行政认定为中国驰名商标，"人本"布面胶鞋被认定为浙江省名牌产品。</p>
					<div class="clearfix">
						<img src="../images/ab.jpg" class="imgl">
						&nbsp;&nbsp;公司胶鞋产品分为时尚休闲男鞋、女鞋、童鞋三大类近百个花色品种，胶鞋产值连续三年超亿元，利税稳步增长，公司进入瑞安市工业企业税收五十强之列。<br>
						&nbsp;&nbsp;"喜太郎"牌布面胶鞋的销售网络覆盖国内各市场，终端销售以进入各大型超市、专业鞋类卖场为主；与此同时人本品牌还逐渐向海外市场拓展。<br>
						&nbsp;&nbsp;公司已通过了ISO9001质量管理体系认证和ISO14001环境管理体系认证。<br>
						&nbsp;&nbsp;公司严格按行业标准组织生产和控制产品质量，并按照行业标准制订了企业标准（部分指标要求高于行业标准），建有材料化学分析室和成品物理机械性能检测室，确保从原材料到成品质量有效监控。<br>
						&nbsp;&nbsp;公司还先后被评为浙江省AAA级守合同重信用单位、浙江省AAA级诚信纳税企业、温州市文明单位、温州市诚信民营企业、温州市信用建设先进单位、温州市劳动关系和谐企业、瑞安市活力和谐企业等。<br>
						&nbsp;&nbsp;浙江人本有限公司是中国（瑞安）胶鞋名城功勋企业，中国橡胶工业协会胶鞋分会副理事长、瑞安市鞋革行业协会副会长及国家胶鞋标准起草单位之一。<br>
						&nbsp;&nbsp;公司位列瑞安市工业五十强，属民营股份制企业，创建于1985年，现有厂区占地面积3.5万平方米，建筑面积6万多平方米，胶鞋生产线8条，主要技术经济指标居国内胶鞋行业前列。"人本"商标已被行政认定为中国驰名商标，"人本"布面胶鞋被认定为浙江省名牌产品。<br>
						&nbsp;&nbsp;公司胶鞋产品分为时尚休闲男鞋、女鞋、童鞋三大类近百个花色品种，胶鞋产值连续三年超亿元，利税稳步增长，公司进入瑞安市工业企业税收五十强之列。
					</div>
				</div>
				<div class="about_right_box" id="contactUs">
					<div class="contact">
						<h2>浙江温州喜太狼有限公司</h2>
						<p>地址：中国浙江省杭州市滨江区江陵路1760号</p>
						<p>邮编：310051</p>
						<p>电话：+86 571-28001111</p>
						<p>传真：0571-87766217</p>
						<p>邮箱：luck@geely.com</p>
					</div>
				</div>
			</div>
		</div>
		<!--关于我们 /-->
	</div>
	<!--底部-->
	<div class="footer">
		<div class="main">
			<div class="logo"><img src="../images/logo2.png"></div>
			<div class="info">
				<p>Copyright ©2012 喜太狼 All Rights Reserved</p>
				<p>电话：86-0577-65558888 传真：86-0577-65580788 地址：浙江龙湾 邮编：325207</p>
				<p>浙ICP备12036592号</p>
			</div>
			<div class="ewm">
				<div class="ewm_img"><img src="../images/ewm.jpg"></div>
				<p>扫一扫，下载APP</p>
			</div>
		</div>
	</div>
	<!--底部 /-->	
</body>
</html>
<script src="../vender/jquery/jquery-1.11.1.js"></script>
<script src="../scripts/xitailang.js"></script>