<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
    <meta name="keywords" content="" />
    <meta name="Copyright" content="" />
    <meta name="Description" content="" />
	<title>喜太狼-网站首页</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
	<!--顶部-->
    <div class="header">
    	<div class="logo_box">
        	<div class="logo"><img src="../images/logo.png" alt="LOGO"></div>
            <div class="logo_box_jg"><img src="../images/jg.png"></div>
            <div>
            	<p class="logo_box_kf">客服热线：</p>
            	<p class="logo_box_tel">400-78787878</p>
            </div>
        </div>
        <div class="weixin_box">
        	<span><img src="../images/wx.jpg" alt="微信" /></span>
        	<span><img src="../images/wb.jpg" alt="微博" /></span>
        	<span><img src="../images/qq.jpg" alt="QQ" /></span>
        </div>
    </div>
	<!--顶部 /-->
	<!--导航-->
	<div class="nav">
		<div class="main">
			<ul>
				<li><a class="active" href="index.html">网站首页</a></li>
				<li><a href="news.html">新闻中心</a></li>
				<li><a href="product.html">产品展示</a></li>
				<li><a href="javascript:;" id="downShow">APP下载</a></li>
				<li><a href="aboutUs.html">关于我们</a></li>
			</ul>
		</div>
		<!--下载框-->
		<div class="mark"></div>
		<div class="down_box">
			<i class="arrow"></i>
			<div class="logo"><img src="../images/logo2.png"></div>
			<div class="info">
				<h2>喜太狼APP下载</h2>
				<p>版本号：Version1.0</p>
				<p>适配：iPhone/Andriod</p>
				<p>大小：14.1MB</p>
			</div>
			<div class="ewm"><img src="../images/ewm1.jpg"></div>
			<div class="btn">
				<a href="" class="ios" rel="ios下载"></a>
				<a href="" class="andior" rel="andior下载"></a>
			</div>
		</div>
		<!--下载框-->
	</div>
	<!--导航 /-->
	<!--
		轮播图
		循环 li标签 2张图片以上开始出现轮播效果
	-->
	<div class="banner">
		<ul id="banner" class="rslides">
			<li><img src="../images/banner.jpg"/></li>
			<li><img src="../images/banner.jpg"/></li>
		</ul>
	</div>
	<!--轮播图 /-->

	<div class="main">
		<!--
			产品轮播   
			图片规格比例：600px*400px 
			循环 li标签 4张图片以上开始出现轮播效果
		-->
		<div class="prod_show">
			<div class="prod_show_title">
				<img src="../images/prodname.png">
				<a href="product.html" class="prod_show_more"><img src="../images/prodmore.png"></a>
			</div>
			<div class="prod_show_list">
				<div class="box">
				    <ul class="list">
				    	<li><a href=""><img src="../images/p1.jpg"><p>学步鞋</p></a></li>
				    	<li><a href=""><img src="../images/p3.jpg"><p>学步鞋</p></a></li>
				    	<li><a href=""><img src="../images/p2.jpg"><p>学步鞋</p></a></li>
				    	<li><a href=""><img src="../images/p1.jpg"><p>学步鞋</p></a></li>
				    	<li><a href=""><img src="../images/p1.jpg"><p>学步鞋</p></a></li>
				    </ul>
			  	</div>
			</div>
		</div>
		<!--产品轮播 /-->
		<!--
			企业说明
			图片规格比例：280px*240px
		-->
		<div class="comp_show">
			<div class="comp_li">
				<div class="comp_li_img"><img src="../images/c1.jpg"></div>
				<div class="comp_li_info tc">
					<h2>招商加盟</h2>
					<p>加盟热线 15805995394</p>
				</div>
			</div>
			<div class="comp_li">
				<div class="comp_li_img"><img src="../images/c2.jpg"></div>
				<div class="comp_li_info tc">
					<h2>企业展示</h2>
					<p>温州市活力和谐企业</p>
				</div>
			</div>
			<div class="comp_li last">
				<div class="comp_li_img"><img src="../images/c3.jpg"></div>
				<div class="comp_li_info">
					<span>劳模精神，励志人生 ——全国劳模郑雪君莅临人本鞋业作先进事迹报告</span>
					<p>2016-04-29</p>
				</div>
			</div>
		</div>
		<!--企业说明 /-->
	</div>
	<!--底部-->
	<div class="footer">
		<div class="main">
			<div class="logo"><img src="../images/logo2.png"></div>
			<div class="info">
				<p>Copyright ©2012 喜太狼 All Rights Reserved</p>
				<p>电话：86-0577-65558888 传真：86-0577-65580788 地址：浙江龙湾 邮编：325207</p>
				<p>浙ICP备12036592号</p>
			</div>
			<div class="ewm">
				<div class="ewm_img"><img src="../images/ewm.jpg" alt="扫一扫二维码"></div>
				<p>扫一扫，下载APP</p>
			</div>
		</div>
	</div>
	<!--底部 /-->	
</body>
</html>
<script src="../vender/jquery/jquery-1.11.1.js"></script>
<script src="../vender/jquery/responsiveslides.min.js"></script>
<script src="../vender/jquery/jquery.cxscroll.min.js"></script>
<script src="../scripts/xitailang.js"></script>