<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
    <meta name="keywords" content="" />
    <meta name="Copyright" content="" />
    <meta name="Description" content="" />
	<title>喜太狼-新闻中心</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
	<!--顶部-->
    <div class="header">
    	<div class="logo_box">
        	<div class="logo"><img src="../images/logo.png" alt="LOGO"></div>
            <div class="logo_box_jg"><img src="../images/jg.png"></div>
            <div>
            	<p class="logo_box_kf">客服热线：</p>
            	<p class="logo_box_tel">400-78787878</p>
            </div>
        </div>
        <div class="weixin_box">
        	<span><img src="../images/wx.jpg" alt="微信" /></span>
        	<span><img src="../images/wb.jpg" alt="微博" /></span>
        	<span><img src="../images/qq.jpg" alt="QQ" /></span>
        </div>
    </div>
	<!--顶部 /-->
	<!--导航-->
	<div class="nav">
		<div class="main">
			<ul>
				<li><a href="index.html">网站首页</a></li>
				<li><a class="active" href="news.html">新闻中心</a></li>
				<li><a href="product.html">产品展示</a></li>
				<li><a href="javascript:;" id="downShow">APP下载</a></li>
				<li><a href="aboutUs.html">关于我们</a></li>
			</ul>
		</div>
		<!--下载框-->
		<div class="mark"></div>
		<div class="down_box">
			<i class="arrow"></i>
			<div class="logo"><img src="../images/logo2.png"></div>
			<div class="info">
				<h2>喜太狼APP下载</h2>
				<p>版本号：Version1.0</p>
				<p>适配：iPhone/Andriod</p>
				<p>大小：14.1MB</p>
			</div>
			<div class="ewm"><img src="../images/ewm1.jpg"></div>
			<div class="btn">
				<a href="" class="ios" rel="ios下载"></a>
				<a href="" class="andior" rel="andior下载"></a>
			</div>
		</div>
		<!--下载框-->
	</div>
	<!--导航 /-->
	<!--页面标题-->
	<div class="web_title" style="background:url(../images/news.png) no-repeat;background-size:100% 100%; ">
		<div class="main">
			<div class="title"><img src="../images/news_title.png"></div>
		</div>
	</div>
	<!--页面标题 /-->
	<div class="main">
		<!--面包屑-->
		<div class="breadcrumb">
			<a href="index.html">网站首页</a>
			<span>></span>
			<a href="news.html">新闻中心</a>
		</div>
		<!--面包屑 /-->
		<!--
			新闻列表
			图片规格比例: 400px*300px
			循环 li
		-->
		<div class="news_list">
			<ul>
				<li>
					<a class="news_list_img" href="newsDetail.html?id=1"><img src="../images/newsi.jpg"></a>
					<div class="news_list_info">
						<!--标题-->
						<h2><a href="newsDetail.html?id=1">帝豪GS北京车展动静发布 吉利汽车全面迈进“精品车3.0时代”</a></h2>
						<!--时间-->
						<p class="time">2016-05-04</p>
						<!--内容-->
						<div class="details">
							4月25日，吉利汽车举行主题为“冠军时代 吉利同行”的北京车展发布会，正式发布了旗下首款城市跨界SUV——帝豪GS，并推出“精品车发展战略”。同时亮相展台的还有以博瑞、博越和“帝豪军团”为代表的第三代精品车型，以及小排量增压发动机、新能源汽车等核心技术及产品，标志着吉利汽车正式迈入“精品车3.0时代”。此外，吉利汽车还公布了”国家游泳队里约奥运奖励计划”，激励运动员们在里约奥运会上发扬拼搏、进取的竞技精神，为国争光。
						</div>
					</div>
				</li>
			</ul>
		</div>
		<!--新闻列表 /-->
		<!--分页-->
		<div class="page clearfix">
			<span class="disabled"> &laquo; </span>
			<span class="current">1</span>
			<a href="#?page=2">2</a>
			<a href="#?page=3">3</a>
			<a href="#?page=4">4</a>
			<a href="#?page=5">5</a>
			<a href="#?page=6">6</a>
			<a href="#?page=7">7</a>
			...
			<a href="#?page=199">199</a>
			<a href="#?page=200">200</a>
			<a href="#?page=2"> > </a>
		</div>
		<!--分页 /-->
	</div>
	<!--底部-->
	<div class="footer">
		<div class="main">
			<div class="logo"><img src="../images/logo2.png"></div>
			<div class="info">
				<p>Copyright ©2012 喜太狼 All Rights Reserved</p>
				<p>电话：86-0577-65558888 传真：86-0577-65580788 地址：浙江龙湾 邮编：325207</p>
				<p>浙ICP备12036592号</p>
			</div>
			<div class="ewm">
				<div class="ewm_img"><img src="../images/ewm.jpg"></div>
				<p>扫一扫，下载APP</p>
			</div>
		</div>
	</div>
	<!--底部 /-->	
</body>
</html>
<script src="../vender/jquery/jquery-1.11.1.js"></script>
<script src="../scripts/xitailang.js"></script>