<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
    <meta name="keywords" content="" />
    <meta name="Copyright" content="" />
    <meta name="Description" content="" />
	<title>喜太狼-新闻中心</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
	<!--顶部-->
    <div class="header">
    	<div class="logo_box">
        	<div class="logo"><img src="../images/logo.png" alt="LOGO"></div>
            <div class="logo_box_jg"><img src="../images/jg.png"></div>
            <div>
            	<p class="logo_box_kf">客服热线：</p>
            	<p class="logo_box_tel">400-78787878</p>
            </div>
        </div>
        <div class="weixin_box">
        	<span><img src="../images/wx.jpg" /></span>
        	<span><img src="../images/wb.jpg" /></span>
        	<span><img src="../images/qq.jpg" /></span>
        </div>
    </div>
	<!--顶部 /-->
	<!--导航-->
	<div class="nav">
		<div class="main">
			<ul>
				<li><a href="index.html">网站首页</a></li>
				<li><a class="active" href="news.html">新闻中心</a></li>
				<li><a href="product.html">产品展示</a></li>
				<li><a href="javascript:;" id="downShow">APP下载</a></li>
				<li><a href="aboutUs.html">关于我们</a></li>
			</ul>
		</div>
		<!--下载框-->
		<div class="mark"></div>
		<div class="down_box">
			<i class="arrow"></i>
			<div class="logo"><img src="../images/logo2.png"></div>
			<div class="info">
				<h2>喜太狼APP下载</h2>
				<p>版本号：Version1.0</p>
				<p>适配：iPhone/Andriod</p>
				<p>大小：14.1MB</p>
			</div>
			<div class="ewm"><img src="../images/ewm1.jpg"></div>
			<div class="btn">
				<a href="" class="ios" rel="ios下载"></a>
				<a href="" class="andior" rel="andior下载"></a>
			</div>
		</div>
		<!--下载框-->
	</div>
	<!--导航 /-->
	<!--页面标题-->
	<div class="web_title" style="background:url(../images/news.png) no-repeat;background-size:100% 100%; ">
		<div class="main">
			<div class="title"><img src="../images/news_title.png"></div>
		</div>
	</div>
	<!--页面标题 /-->
	<div class="main">
		<!--面包屑-->
		<div class="breadcrumb">
			<a href="index.html">网站首页</a>
			<span>></span>
			<a href="news.html">新闻中心</a>
		</div>
		<!--面包屑 /-->
		<!--新闻详情-->
		<div class="news_box">
			<h2>珀莱雅防晒产品抢镜联合国“2016亚太国际妇女节”</h2>
			<p class="time">时间： 2016-03-08</p>
			<div class="news_box_details">
				<p>今日，泰国曼谷·联合国会议中心，珀莱雅作为唯一企业代表，受邀出席联合国亚太总部2016国际妇女节纪念活动——“PLANET 50-50 BY 2030 ：STEP IT UP FOR GENDER EQUALITY（2030年实现全球50-50：步步实现性别平等）”。而珀莱雅防晒产品也继珀莱雅早晚水之后，再次被参会的国际友人所喜爱。</p>
				<img src="../images/ggg.jpg">
				<p>利比里亚总统埃伦•约翰逊•瑟利夫说过：“我们需要十分的勇气、十分的韧性和十分的耐性，才有可能让这个地球实现完全平等。”国际社会已经关注，同样中国企业也高度重视性别平等问题。珀莱雅公司董事长侯军呈、CEO方玉友等高层领导，以及阿里巴巴创始人马云先生等知名企业家也纷纷积极支持“PLANET 50-50 BY 2030”。</p>
			</div>
			<div class="clearfix">
				<div class="other">
					<p><a href="newsDetail.html">上一篇：女生专属 | 她许愿 他“买单”</a></p>
					<p><a href="newsDetail.html">下一篇：天猫金妆奖 让珀莱雅和郑爽承包你的屏幕！</a></p>
				</div>
				<a href="news.html"><div class="back_btn">返回列表</div></a>
			</div>
		</div>
		<!--新闻详情 /-->
	</div>
	<!--底部-->
	<div class="footer">
		<div class="main">
			<div class="logo"><img src="../images/logo2.png"></div>
			<div class="info">
				<p>Copyright ©2012 喜太狼 All Rights Reserved</p>
				<p>电话：86-0577-65558888 传真：86-0577-65580788 地址：浙江龙湾 邮编：325207</p>
				<p>浙ICP备12036592号</p>
			</div>
			<div class="ewm">
				<div class="ewm_img"><img src="../images/ewm.jpg"></div>
				<p>扫一扫，下载APP</p>
			</div>
		</div>
	</div>
	<!--底部 /-->	
</body>
</html>
<script src="../vender/jquery/jquery-1.11.1.js"></script>
<script src="../scripts/xitailang.js"></script>