<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
    <meta name="keywords" content="" />
    <meta name="Copyright" content="" />
    <meta name="Description" content="" />
	<title>喜太狼-产品展示</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
	<!--顶部-->
    <div class="header">
    	<div class="logo_box">
        	<div class="logo"><img src="../images/logo.png" alt="LOGO"></div>
            <div class="logo_box_jg"><img src="../images/jg.png"></div>
            <div>
            	<p class="logo_box_kf">客服热线：</p>
            	<p class="logo_box_tel">400-78787878</p>
            </div>
        </div>
        <div class="weixin_box">
        	<span><img src="../images/wx.jpg" alt="微信" /></span>
        	<span><img src="../images/wb.jpg" alt="微博" /></span>
        	<span><img src="../images/qq.jpg" alt="QQ" /></span>
        </div>
    </div>
	<!--顶部 /-->
	<!--导航-->
	<div class="nav">
		<div class="main">
			<ul>
				<li><a href="index.html">网站首页</a></li>
				<li><a href="news.html">新闻中心</a></li>
				<li><a class="active" href="product.html">产品展示</a></li>
				<li><a href="javascript:;" id="downShow">APP下载</a></li>
				<li><a href="aboutUs.html">关于我们</a></li>
			</ul>
		</div>
		<!--下载框-->
		<div class="mark"></div>
		<div class="down_box">
			<i class="arrow"></i>
			<div class="logo"><img src="../images/logo2.png"></div>
			<div class="info">
				<h2>喜太狼APP下载</h2>
				<p>版本号：Version1.0</p>
				<p>适配：iPhone/Andriod</p>
				<p>大小：14.1MB</p>
			</div>
			<div class="ewm"><img src="../images/ewm1.jpg"></div>
			<div class="btn">
				<a href="" class="ios" rel="ios下载"></a>
				<a href="" class="andior" rel="andior下载"></a>
			</div>
		</div>
		<!--下载框-->
	</div>
	<!--导航 /-->
	<!--页面标题-->
	<div class="web_title" style="background:url(../images/prod.png) no-repeat;background-size:100% 100%; ">
		<div class="main">
			<div class="title"><img src="../images/prod_title.png"></div>
		</div>
	</div>
	<!--页面标题 /-->
	<div class="main">
		<!--面包屑-->
		<div class="breadcrumb">
			<a href="index.html">网站首页</a>
			<span>></span>
			<a href="product.html">产品展示</a>
		</div>
		<!--面包屑 /-->
		<!--产品详情-->
		<div class="pord_details_box">
			<div class="img">
				<img src="../images/p1.jpg">
			</div>
			<div class="info">
				<div class="title">春夏款男女宝宝童鞋学步鞋包头凉鞋休闲透气9132</div>
				<!--商品属性-->
				<div class="attr">
					<ul>
						<li>品牌名称：喜太狼</li>
						<li>闭合方式: 魔术贴帮面</li>
						<li>鞋底材质: 复合底流</li>
						<li>货号: ma-9132</li>
						<li>材质: 牛反绒（磨砂皮）</li>
						<li>价格：￥100.00</li>
					</ul>
				</div>
				<!--商品属性 /-->
				<!-- 分享插件 -->
				<div class="jiathis_style">
					<span class="jiathis_txt">分享到：</span>
					<a class="jiathis_button_tools_1"></a>
					<a class="jiathis_button_tools_2"></a>
					<a class="jiathis_button_tools_3"></a>
					<a class="jiathis_button_tools_4"></a>
					<a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jiathis_separator jtico jtico_jiathis" target="_blank">更多</a>
					<a class="jiathis_counter_style"></a>
				</div>
				<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>
				<!-- 分享插件 -->
			</div>
			<div class="pord_details_title"><span>产品详情</span></div>
			<!--
				产品内容
				详情往 <div class="details"></div> 里塞
			-->
			<div class="details">
				<img src="../images/d1.jpg" alt="">
				<img src="../images/d2.jpg" alt="">
			</div>
			<!--产品内容 /--> 
			<div class="clearfix">
				<div class="other">
					<a href="prodDetail.html">
						<span><img src="../images/p1.jpg" alt=""></span>
						<p>上一件</p>
					</a>
					<a href="prodDetail.html">
						<span><img src="../images/p1.jpg" alt=""></span>
						<p>下一件</p>
					</a>
				</div>
				<a href="product.html"><div class="back_btn">返回列表</div></a>
			</div>
		</div>
		<!--产品详情 /-->
	</div>
	<!--底部-->
	<div class="footer">
		<div class="main">
			<div class="logo"><img src="../images/logo2.png"></div>
			<div class="info">
				<p>Copyright ©2012 喜太狼 All Rights Reserved</p>
				<p>电话：86-0577-65558888 传真：86-0577-65580788 地址：浙江龙湾 邮编：325207</p>
				<p>浙ICP备12036592号</p>
			</div>
			<div class="ewm">
				<div class="ewm_img"><img src="../images/ewm.jpg"></div>
				<p>扫一扫，下载APP</p>
			</div>
		</div>
	</div>
	<!--底部 /-->	
</body>
</html>
<script src="../vender/jquery/jquery-1.11.1.js"></script>
<script src="../scripts/xitailang.js"></script>